.diagramWindow {
    position: absolute;
    left: 400px;
    top: 200px;
    z-index: 100;
}

.bars {
    width: 1cm;
}

#bar1 {
    background-color: #55ff00;
    float: left;
}

#bar2 {

    background-color: #af0015;
    left: 50px;
    float: right;

}

#bar3 {
    background-color: #00bfdd;
    left: 100px;
    float: right;

}

#bar4 {
    background-color: #ff01e6;
    left: 150px;
    float: right;

}

#bar5 {
    background-color: #1203ff;
    left: 200px;
    float: right;
}
