/* Remove the navbar's default margin-bottom and rounded borders */

/* Updated version temp
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.rowContent {
    height: 100%;
    float: left;
}

/*
-------------------------------------------------
    CSS for sidemenyen
-------------------------------------------------
*/

/* Set gray background color and 100% height */
.sidenav {
    position: fixed;
    float: left;
    padding-top: 20px;
    width: 220px;
    background-color: #aeaeae;
    height: 100%;
    margin-top: 20px;
}
.sidenavContent {
    margin-left: 10px;
    margin-right: 10px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .rowContent {
        height: auto;
    }
}
/*
-------------------------------------------------
    CSS for submit-knappene
-------------------------------------------------
*/

input[type=submit] {
    display: inline-block;
    background-color: #474747;
    color: #fffbf7;
    padding: 10px 10px 10px 10px;
    border: 5px white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 90px;
    font-size: medium;
    font-family: 'Times New Roman';
    top: 11px;
    transition: all 0.3s ease 0s;
}

input[type=file] {
  display: none;
}
.custom-file-upload:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 3px 5px #474747;
}

.custom-file-upload {
    background-color: #474747;
    color: #fffbf7;
    padding: 12px 12px 12px 12px;
    border: 2px;
    top: 15px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 90px;
    font-size: medium;
    font-family: 'Times New Roman';
    transition: all 0.3s ease 0s;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 3px 5px #474747;
}

input[type=submit]:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/*
-------------------------------------------------
    CSS for top menu bar
-------------------------------------------------
*/

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    overflow: inherit;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1; /* z-akse */
    text-decoration: none;


}
.navbar a:hover{ /* Forandrer bakgrunnsfargen til alle a-attributter (Home, Admin, etc.) ved hovring*/
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar a { /* Styling */
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;

}
/*
-------------------------------------------------
    Main er alt bortsett fra sidebar og navbar
-------------------------------------------------
*/

.main {
    margin-top: 25px;
    position: absolute;
    margin-left: auto;
    margin-right: 100px;
    left: 260px;
    right: 0;
    top: 60px;
}
/*
-------------------------------------------------
    Position to right buttons in navbar
-------------------------------------------------
*/
.knapperHoyre {
    float: right;
    margin-right: 7px;
}


#goToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 10px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #474747; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 10px 10px 10px;
    border-radius: 10px; /* Rounded corners */
    font-size: medium; /* Medium font size*/
    font-family: "Times New Roman"; /* Decides font-family*/
    transition: all 0.3s ease 0s;
}

#goToTop:hover {
    background-color: #1f1f20; /* Add a dark-grey background on hover */
    box-shadow: 2px 3px 5px #474747;
}
