/*
***************************************************
---------------------------------------------------
Dropdown-meny
---------------------------------------------------
***************************************************
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #fffbf7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #00bfdd;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 20px 10px;
    border: 3px;
    border-radius: 2px;
    cursor: pointer;
    display: inline;
    position: relative;
    width: 10%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.64);
}
input[type=submit]:not(:last-child){
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color and some padding around the form */
.moduleButtons {
    border-radius: 5px;
    background-color: #fffbf7;
    padding: 5px;
}