.bars {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 3cm;
    height: 50px;
    z-index: 100;
    display: inline-block;
}

#bar1 {
    background-color: #55ff00;
    padding: 30px 30px 30px 30px;
}

#bar2 {

    background-color: #af0015;
    left: 50px;

}

#bar3 {
    background-color: #00bfdd;
    left: 100px;

}

#bar4 {
    background-color: #ff01e6;
    left: 150px;

}

#bar5 {
    background-color: #1203ff;
    left: 200px;
}
